@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.main-web-container {
		height: 100vh;
		background-color: theme('colors.zinc.100');
	}

	.card {
		padding: 15px 22px;
		background-color: theme('colors.zinc.100');
		border-radius: theme('borderRadius.lg');
		padding: theme('spacing.6');
		box-shadow: theme('boxShadow.2xl');
	}

	.button {
		padding: 10px 17px;
		color: theme('colors.zinc.100');
		user-select: none;
		background: theme('colors.purple.700');
		box-shadow: theme('boxShadow.2xl');
		border-radius: theme('borderRadius.xl');
	}

	.button:hover {
		transition: 0.2s ease-in-out;
		transform: scale(1.1);
	}

	.input {
		padding: 10px 17px;
		background-color: theme('colors.zinc.100');
		outline: none;
		border: theme('colors.zinc.200') solid;
		border-radius: theme('borderRadius.lg');
	}
}
